


#background
{
	position: fixed;
	top: 0px;
	right:0px;
	width: 110vw;
	height: 100vh;
	z-index: -5;
}

/*********************************/
#top_menu
{

	width: 100vw;
	height: 10vw;
}

#row_of_links
{
	position: absolute;
	left:10vw;
	top:9vw;
}

#bio_section
{
	width: 100vw;
	height: 20vw;
}

#projectTitle_section
{
	width: 100vw;
	height: 6vw;
}


#boxes_row1
{
	width: 100vw;
	height: 40vh;
}


/***********************************/

#my_name
{
	font-size: 3.5vw;
	position:absolute;
	color:grey;
	font-family: arial;
	top: 2vw;
	left: 32vw;
	z-index:1;
	text-decoration: none;
	/*width: 100vw;*/
}

#line{
	color: yellow;
	border-color: yellow;
	position:absolute;
	top:8vw;
	z-index: 1;
	width: 75vw;
	left:8vw;
	font-size: 1vw;
	
}

#my_resume
{
	font-size: 2.5vw;
	
	color:grey;
	font-family: arial;
	
	padding-left: 0vw;
	z-index:1;
	text-decoration: none;
}

#my_linked_in
{
	font-size: 2.5vw;
	
	color:grey;
	font-family: arial;
	padding-left: 9vw;
	z-index:1;
	text-decoration: none;
}

#my_code
{
	font-size: 2.5vw;
	
	color:grey;
	font-family: arial;
	padding-left: 9vw;
	z-index:1;
	text-decoration: none;
}

#my_contact
{
	font-size: 2.5vw;
	
	color:grey;
	font-family: arial;
	padding-left: 9vw;

	z-index:1;
	text-decoration: none;
}

/*-------------------------------*/

#bio_space{
	z-index: 1;
	position: absolute;
	top: 14vw;
	right: 14vw;
	width: 75vw;
	height: 10vw;
}

#bio_title
{
	font-size: 2vw;
	position:absolute;
	color:white;
	font-family: arial;
	top: 12vw;
	left: 19vw;
	z-index:1;
	opacity: 0.5;
}

#bio
{
	font-size: 1.5vw;
	position:absolute;
	color:lightgrey;
	font-family: arial;
	top: 16vw;
	left: 20vw;
	z-index:1;
	width:60vw;
	opacity: 0.5;
}

#andyPic
{
	z-index:1;
	width: 8vw;
	height: 9.5vw;
	position:absolute;
	top: 13.6vw;
	left: 9.5vw;
	/* Used for FancyPic */ /*clip:rect(1vw, 9vw, 9vw, 1vw); *//*(top,right,bottom,left)*/
	opacity: 0.5;
}

#bio_box
{
	z-index: -1;
	position: absolute;
	top: 13vw;
	right: 14vw;
	background-color: grey;
	width: 75vw;
	height: 10vw;
	border: 5px solid white;
	opacity: 0.5;
}

#proj_descr_box
{
	position: absolute;
	top: 23vw;
}

#proj_descr
{
	padding-left: 18vw;
	font-size: 1.5vw;
	color:lightgrey;
	font-family: arial;
}

#projectTitle
{
	font-size: 2vw;
	position:absolute;
	color:white;
	font-family: arial;
	opacity: 0.3;
	top: 25vw;
	left: 10vw;
	z-index:2;
}


/*--------------------*/
#ZanyBallsTitle
{
	font-size: 1.4vw;
	position:absolute;
	color:white;
	font-family: arial;

	z-index:2;
	opacity: 0.5;
}

#zanytxt
{
	font-size: 1.2vw;
	position:absolute;
	color:lightgrey;
	font-family: arial;

	z-index:1;
	width:24vw;
	opacity: 0.5;
}

#zanyBox
{
	z-index: -1;
	position: absolute;
	
	background-color: grey;

	width: 35vw;
	height: 13.5vw;
	border: 5px solid white;
	opacity: 0.5;
}

#zanyPic
{
	z-index:0;
	width: 7.5vw;
	height: 10vw;
	position:absolute;

	opacity: 0.5;
}

#zanyCode
{
	font-size:	1.3vw;
	position:absolute;
	color:lightgrey;
	font-family: arial;

	z-index:1;
	opacity: 0.5;
}

#zanyBallsAndroidCode
{
	
	font-size: 1.3vw;
	position:absolute;
	color:lightgrey;
	font-family: arial;

	z-index:1;
	opacity: 0.5;	
}

/*--------------------*/
#DrunkWordsTitle
{
	font-size: 1.4vw;
	position:absolute;
	color:white;
	font-family: arial;
	
	z-index:2;
	opacity: 0.5;
}

#drunkBox
{
	z-index: -1;
	position: absolute;
	background-color: grey;
	width: 35vw;
	height: 13.5vw;
	border: 5px solid white;
	opacity: 0.5;
}

#drunkPic
{
	z-index:0;
	width: 7.5vw;
	height: 10vw;
	position:absolute;
	opacity: 0.5;
}

#drunktxt
{
	font-size: 1.2vw;
	position:absolute;
	color:lightgrey;
	font-family: arial;
	z-index:1;
	width:24vw;
	opacity: 0.5;
}

#drunkCode
{
	font-size:	1.3vw;
	position:absolute;
	color:lightgrey;
	font-family: arial;
	z-index:1;
	opacity: 0.5;
}

/*--------------------*/
#RcartTitle
{
	font-size: 1.4vw;
	position:absolute;
	color:white;
	font-family: arial;
	z-index:2;
	opacity: 0.5;
}

#carttxt
{
	font-size: 1.15vw;
	position:absolute;
	color:lightgrey;
	font-family: arial;
	z-index:1;
	width:24vw;
	opacity: 0.5;
}

#cartBox
{
	z-index: -1;
	position: absolute;
	background-color: grey;
	width: 35vw;
	height: 13.5vw;
	border: 5px solid white;
	opacity: 0.5;
}

#cartPic
{
	z-index:0;
	width: 7.5vw;
	height: 10vw;
	position:absolute;
	opacity: 0.5;
}

#cartCode
{
	font-size:	1.3vw;
	position:absolute;
	color:lightgrey;
	font-family: arial;
	z-index:1;
	opacity: 0.5;
}


/*--------------------*/

#BikeTitle
{
	font-size: 1.4vw;
	position:absolute;
	color:white;
	font-family: arial;
	z-index:2;
	opacity: 0.5;
}


#biketxt
{
	font-size: 1.2vw;
	position:absolute;
	color:lightgrey;
	font-family: arial;
	z-index:1;
	width:24vw;
	opacity: 0.5;
}

#bikeBox
{
	z-index: -1;
	position: absolute;
	background-color: grey;
	width: 35vw;
	height: 13.5vw;
	border: 5px solid white;
	opacity: 0.5;
}

#bikePic
{
	z-index:0;
	width: 7.5vw;
	height: 10vw;
	position:absolute;
	opacity: 0.5;
}

#bikeCode
{
	font-size:	1.3vw;
	position:absolute;
	color:lightgrey;
	font-family: arial;
	z-index:1;
	opacity: 0.5;
}


/*------------------------------*/
#youtube_row1
{
	position: absolute;
	top: 30vw;
	width: 100vw;
	height: 20vw;
	left: 10vw;
}

#youtube_row2
{
	position: absolute;
	top: 57vw;
	width: 100vw;
	height: 20vw;
	left: 10vw;
}


#ball_video
{
	width: 37vw;
	height: 25vw;
	z-index: 1;
}

#zany_balls_video
{
	width: 37vw;
	height: 25vw;
	z-index: 1;
	padding-left: 1vw;
}

#future_bike_video1
{
	width: 37vw;
	height: 25vw;
	z-index: 1;
	padding-left: 1vw;
}

#zb_vid2
{
	width: 37vw;
	height: 25vw;
	z-index: 1;

}

/*-----------------------------------*/

#myRoomTitle{

	font-size: 2vw;
	position:absolute;
	color:white;
	font-family: arial;
	opacity: 0.3;
	
	left: 10vw;
	z-index:2;

}

#myRoomPic{
	z-index:0;
	width: 30vw;
	height: 40vw;
	position:absolute;
	left: 35vw;
	opacity: 0.9;
}


/*----------------------------*/
#bottomSpace
{
	z-index:-4;
	width: 100vw;
	height: 200px;
	position:absolute;
	right:0;
}

#coord
{
	position: fixed;
	bottom: 1vh;
	right: 1vw;/*centers it, viewport width 50%*/


}

