


#background
{
	position: fixed;
	top: 0px;
	right:0px;
	width: 110vw;
	height: 100vh;
	z-index: -5;
}

/*********************************/
#top_menu
{
	width: 100vw;
	height: 29vh;
}

#bio_section
{
	width: 100vw;
	height: 40vh;
}

#projectTitle_section
{
	width: 100vw;
	height: 10vh;
}

#youtube_row1
{
	width: 100vw;
	height: 60vh;
}

#boxes_row1
{
	width: 100vw;
	height: 40vh;
}


/***********************************/

#my_name
{
	font-size: 6.5vh;
	position:absolute;
	color:grey;
	font-family: arial;
	top: 5vh;
	right: 46vw;
	z-index:1;
	text-decoration: none;
}

#line{
	color: yellow;
	border-color: yellow;
	position:absolute;
	top:18vh;
	z-index: 1;
	width: 75vw;
	left:8vw;
	font-size: 2vh;
}

#my_resume
{
	font-size: 5vh;
	position:absolute;
	color:grey;
	font-family: arial;
	top: 20vh;
	right: 80vw;
	z-index:1;
	text-decoration: none;
}

#my_linked_in
{
	font-size: 5vh;
	position:absolute;
	color:grey;
	font-family: arial;
	top: 20vh;
	right: 62vw;
	z-index:1;
	text-decoration: none;
}

#my_code
{
	font-size: 5vh;
	position:absolute;
	color:grey;
	font-family: arial;
	top: 20vh;
	right: 40vw;
	z-index:1;
	text-decoration: none;
}

#my_contact
{
	font-size: 5vh;
	position:absolute;
	color:grey;
	font-family: arial;
	top: 20vh;
	right: 20vw;
	z-index:1;
	text-decoration: none;
}

#bio_title
{
	font-size: 30px;
	position:absolute;
	color:white;
	font-family: arial;
	top: 220px;
	right: 76vw;
	z-index:1;
	opacity: 0.5;
}

#bio
{
	font-size: 20px;
	position:absolute;
	color:lightgrey;
	font-family: arial;
	top: 280px;
	right: 18vw;
	z-index:1;
	width:60vw;
	opacity: 0.5;
}

#andyPic
{
	z-index:1;
	width: 100px;
	height: 180px;
	position:absolute;
	top:255px;
	right:81vw;
	clip:rect(10px, 130px, 100px, 0px);
	opacity: 0.5;
}

#bio_box
{
	z-index: -1;
	position: absolute;
	top: 240px;
	right: 14vw;
	background-color: grey;
	width: 75vw;
	height: 140px;
	border: 5px solid white;
	opacity: 0.5;
}


#projectTitle
{
	font-size: 30px;
	position:absolute;
	color:white;
	font-family: arial;
	top: 420px;
	right: 76vw;
	z-index:2;
}


/*--------------------*/
#ZanyBallsTitle
{
	font-size: 20px;
	position:absolute;
	color:white;
	font-family: arial;

	z-index:2;
	opacity: 0.5;
}

#zanytxt
{
	font-size: 16px;
	position:absolute;
	color:lightgrey;
	font-family: arial;

	z-index:1;
	width:24vw;
	opacity: 0.5;
}

#zanyBox
{
	z-index: -1;
	position: absolute;
	
	background-color: grey;

	width: 35vw;
	height: 180px;
	border: 5px solid white;
	opacity: 0.5;
}

#zanyPic
{
	z-index:0;
	width: 100px;
	height: 140px;
	position:absolute;

	opacity: 0.5;
}

#zanyCode
{
	font-size: 16px;
	position:absolute;
	color:lightgrey;
	font-family: arial;

	z-index:1;
	opacity: 0.5;
}

/*--------------------*/
#DrunkWordsTitle
{
	font-size: 20px;
	position:absolute;
	color:white;
	font-family: arial;
	
	z-index:2;
	opacity: 0.5;
}

#drunkBox
{
	z-index: -1;
	position: absolute;
	background-color: grey;
	width: 35vw;
	height: 180px;
	border: 5px solid white;
	opacity: 0.5;
}

#drunkPic
{
	z-index:0;
	width: 100px;
	height: 140px;
	position:absolute;
	opacity: 0.5;
}

#drunktxt
{
	font-size: 16px;
	position:absolute;
	color:lightgrey;
	font-family: arial;
	z-index:1;
	width:24vw;
	opacity: 0.5;
}

#drunkCode
{
	font-size: 16px;
	position:absolute;
	color:lightgrey;
	font-family: arial;
	z-index:1;
	opacity: 0.5;
}

/*--------------------*/
#RcartTitle
{
	font-size: 20px;
	position:absolute;
	color:white;
	font-family: arial;
	z-index:2;
	opacity: 0.5;
}

#carttxt
{
	font-size: 16px;
	position:absolute;
	color:lightgrey;
	font-family: arial;
	z-index:1;
	width:24vw;
	opacity: 0.5;
}

#cartBox
{
	z-index: -1;
	position: absolute;
	background-color: grey;
	width: 35vw;
	height: 180px;
	border: 5px solid white;
	opacity: 0.5;
}

#cartPic
{
	z-index:0;
	width: 100px;
	height: 140px;
	position:absolute;
	opacity: 0.5;
}

#cartCode
{
	font-size: 16px;
	position:absolute;
	color:lightgrey;
	font-family: arial;
	z-index:1;
	opacity: 0.5;
}


/*--------------------*/

#BikeTitle
{
	font-size: 20px;
	position:absolute;
	color:white;
	font-family: arial;
	z-index:2;
	opacity: 0.5;
}


#biketxt
{
	font-size: 16px;
	position:absolute;
	color:lightgrey;
	font-family: arial;
	z-index:1;
	width:24vw;
	opacity: 0.5;
}

#bikeBox
{
	z-index: -1;
	position: absolute;
	background-color: grey;
	width: 35vw;
	height: 180px;
	border: 5px solid white;
	opacity: 0.5;
}

#bikePic
{
	z-index:0;
	width: 100px;
	height: 140px;
	position:absolute;
	opacity: 0.5;
}

#bikeCode
{
	font-size: 16px;
	position:absolute;
	color:lightgrey;
	font-family: arial;
	z-index:1;
	opacity: 0.5;
}


/*------------------------------*/

#ball_video
{
	/*position:absolute;*/
	position:relative;
	top: 0vh;
	left: 6vw;
	width: 37vw;
	height: 50vh;
	z-index: 1;
}

#zany_balls_video
{
	position: relative;
	left: 10vw;
	width: 37vw;
	height: 50vh;
	z-index: 1;
}


/*----------------------------*/
#bottomSpace
{
	z-index:-4;
	width: 100vw;
	height: 200px;
	position:absolute;
	top:1500px;
	right:0;
}

#coord
{
	position: fixed;
	bottom: 1vh;
	right: 1vw;/*centers it, viewport width 50%*/


}

