



#background
{
	position: fixed;
	top: 0px;
	right:0px;
	width: 110vw;
	height: 100vh;
	z-index: -5;
}




#my_name
{
	font-size: 40px;
	position:absolute;
	color:grey;
	font-family: arial;
	top: 30px;
	right: 46vw;
	z-index:1;
	text-decoration: none;
}

#line{
	color: yellow;
	border-color: yellow;
	position:absolute;
	top:120px;
	z-index: 1;
	width: 75vw;
	left:10vw;
}

#my_resume
{
	font-size: 30px;
	position:absolute;
	color:grey;
	font-family: arial;
	top: 130px;
	right: 80vw;
	z-index:1;
	text-decoration: none;
}

#my_linked_in
{
	font-size: 30px;
	position:absolute;
	color:grey;
	font-family: arial;
	top: 130px;
	right: 60vw;
	z-index:1;
	text-decoration: none;
}

#my_code
{
	font-size: 30px;
	position:absolute;
	color:grey;
	font-family: arial;
	top: 130px;
	right: 36vw;
	z-index:1;
	text-decoration: none;
}

#my_contact
{
	font-size: 30px;
	position:absolute;
	color:grey;
	font-family: arial;
	top: 130px;
	right: 20vw;
	z-index:1;
	text-decoration: none;
}

#bio_title
{
	font-size: 30px;
	position:absolute;
	color:white;
	font-family: arial;
	top: 220px;
	right: 76vw;
	z-index:2;
	
}

#bio
{
	font-size: 20px;
	position:absolute;
	color:lightgrey;
	font-family: arial;
	top: 280px;
	right: 20vw;
	z-index:1;
	width:60vw;
}

#andyPic
{
	z-index:0;
	width: 100px;
	height: 180px;
	position:absolute;
	top:255px;
	right:81vw;
	clip:rect(10px, 130px, 100px, 0px);
}

#bio_box
{
	z-index: -1;
	position: absolute;
	top: 240px;
	right: 14vw;
	background-color: grey;
	width: 75vw;
	height: 140px;
	border: 5px solid white;
}

#projectTitle
{
	font-size: 30px;
	position:absolute;
	color:white;
	font-family: arial;
	top: 420px;
	right: 76vw;
	z-index:2;
}


/*--------------------*/
#ZanyBallsTitle
{
	font-size: 20px;
	position:absolute;
	color:white;
	font-family: arial;
	top: 520px;
	left: 19vw;
	z-index:2;
}

#zanytxt
{
	font-size: 16px;
	position:absolute;
	color:lightgrey;
	font-family: arial;
	top: 550px;
	left: 20vw;
	z-index:1;
	width:24vw;
}

#zanyBox
{
	z-index: -1;
	position: absolute;
	top: 515px;
	right: 54vw;
	background-color: grey;
	width: 35vw;
	height: 180px;
	border: 5px solid white;
}

#zanyPic
{
	z-index:0;
	width: 100px;
	height: 140px;
	position:absolute;
	top:535px;
	right:81vw;
}

/*--------------------*/
#DrunkWordsTitle
{
	font-size: 20px;
	position:absolute;
	color:white;
	font-family: arial;
	top: 520px;
	left: 63vw;
	z-index:2;
}

#drunkBox
{
	z-index: -1;
	position: absolute;
	top: 515px;
	right: 10vw;
	background-color: grey;
	width: 35vw;
	height: 180px;
	border: 5px solid white;
}

#drunkPic
{
	z-index:0;
	width: 100px;
	height: 140px;
	position:absolute;
	top:535px;
	right:37vw;
}

#drunktxt
{
	font-size: 16px;
	position:absolute;
	color:lightgrey;
	font-family: arial;
	top: 550px;
	left: 64vw;
	z-index:1;
	width:24vw;
}

/*--------------------*/
#RcartTitle
{
	font-size: 20px;
	position:absolute;
	color:white;
	font-family: arial;
	top: 770px;
	left: 19vw;
	z-index:2;
}

#carttxt
{
	font-size: 16px;
	position:absolute;
	color:lightgrey;
	font-family: arial;
	top: 800px;
	left: 20vw;
	z-index:1;
	width:24vw;
}

#cartBox
{
	z-index: -1;
	position: absolute;
	top: 765px;
	right: 54vw;
	background-color: grey;
	width: 35vw;
	height: 180px;
	border: 5px solid white;
}

#cartPic
{
	z-index:0;
	width: 100px;
	height: 140px;
	position:absolute;
	top:785px;
	right:81vw;
}


/*--------------------*/


#bottomSpace
{
	z-index:-4;
	width: 100vw;
	height: 180px;
	position:absolute;
	top:905px;
	right:0;
}

#coord
{
	position: fixed;
	bottom: 1vh;
	right: 1vw;/*centers it, viewport width 50%*/


}

